*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osz-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

.header {
  width: 100%;
  padding: 0.5rem;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  
  text-transform:  capitalize;
  flex-wrap: wrap;
}

.footer {
  background-color: mediumblue;
  width: 100%;
  color: aliceblue;
  display: grid;
  padding: 0.5rem;
  place-content: center;
  font-size: 1.375rem;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.5rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: double line-through;
}

.item > label {
  display: grid;
  font-size: 1.5rem;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem;
  padding: 1rem 1rem;
  background: #808281;
  /* box-shadow: 5rem 5rem; */
}

.addForm label {
  position: absolute;
  display: block;
  height: 0;
  visibility: hidden;
}

.addForm input[type="text"] {
  flex-grow: 1;
  min-height: 48px;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  
}

button {
  height: 48PX;
  min-width: 48PX;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: midnightblue;
}

button:hover, button:focus {
  background: #1A4B79;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem;
  padding: 1rem 1rem;
  background: #004E3C;
}

.searchForm label {
  position: absolute;
  display: block;
  height: 0;
  visibility: hidden;
}

.searchForm input[type="text"] {
  flex-grow: 1;
  min-height: 48px;
  outline: none;
  border-radius: 0.5rem ;
  font-size: 1.5rem;
  text-transform: capitalize;
  
}

/* .searchbtn {
  height: 48PX;
  min-width: 48PX;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  cursor: pointer;
  color: midnightblue;
  background-color: #E60023;
}

.searchbtn:hover, .searchbtn:focus {
  background: #1A4B79;
} */
